<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">


   <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <h4>
        <p><b>Remark</b><br/>
            I solved this assignment with an <i>component</i> as told in the html starter code.<br/><br/>
            The written assignment sais to solve this assignment with a <i>directive</i>, so I<br/>
            guess both solutions should be ok!<br/><br/>
        </p>
    </h4>
    
    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
      <button class="btn btn-primary narrow-button"  ng-click="ctrl.onNarrow()">Narrow It Down For Me!</button>    </div>

    <br/><br/><br/>

    <!-- found-items should be implemented as a component -->
    <found-items list="ctrl.found" on-remove="ctrl.onDelete(index)"></found-items>
  </div>

</body>
</html>